.buttonContainer {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  margin-top: 50%;
  background-image: "../pages/background.jpg";

}

body {
  margin: 0;
  padding: 0;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set height to 100% of viewport height */
}

.choice {
  width: 50%;
  margin-left: 27%;
  margin-bottom: 5px; /* Adjust the margin between flex items */
  border-radius: 4px;
  margin-top: 10%;
  height: 155px;
  display: flex;
  align-items: center; /* Align content vertically */
  justify-content: center; /* Center content horizontally */
  background-color: rgb(255, 80, 162);
  border: 2px solid rgb(255, 255, 255);
  

}

.choice:active {
  background-color: #abcdef; /* Change the background color when clicked */
}

.choice img {
  margin-left: 55%;
  width: 20px; /* Adjust the size of the icon */
}

